<main class="main-wrap">
            {{!-- <header class="main-header navbar">
        <div class="col-search">
            <form class="searchform">
                <div class="input-group">
                    <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                    <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                </div>
                <datalist id="search_terms">
                    <option value="Products">
                    <option value="New orders">
                    <option value="Apple iphone">
                    <option value="Ahmed Hassan">
                </datalist>
            </form>
        </div>
        <div class="col-nav">
            <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                    class="material-icons md-apps"></i> </button>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link btn-icon" href="#">
                        <i class="material-icons md-notifications animation-shake"></i>
                        <span class="badge rounded-pill">3</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                </li>
             
            </ul>
        </div>
    </header> --}}
    <section class="content-main">
        <div class="content-header">
            <h2 class="content-title">Coupons List</h2>
            <div>
                <a href="/admin/addcoupon" class="btn btn-primary"><i class="material-icons md-plus"></i> Create Coupon</a>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row gx-3">
                    <div class="col-lg-4 col-md-6 me-auto">
                        <input type="text" placeholder="Search..." class="form-control">
                    </div>

                    <div class="col-lg-2 col-md-3 col-6">
                        {{!-- <select class="form-select">
                            <option>Show 20</option>
                            <option>Show 30</option>
                            <option>Show 40</option>
                        </select> --}}
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body ">
                <div class="table-responsive ">
                    <table class="table table-hover ">
                        <thead>
                            <tr>
                                <th class="text-center">Coupon Code</th>
                                <th class="text-center">Discount Percentage</th>
                                <th class="text-center">Expiry Date</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                         {{#each couponData}}
                        <tbody>
                            <tr >
                                <td width="20%" class="text-center">
                                        <div class="info pl-3">
                                            <h6 class="mb-0 title">{{this.code}}</h6>
                                        </div>
                                </td>
                                <td class="text-center" width="20%">{{this.discount}}%</td>
                                 <td class="text-center" width="20%">{{formatDate this.expiryDate}}</td>


                                <td class="text-center" width="20%">
                                    <a data-coupon-id="{{this._id}}" id="deletecoupon" type="button" class="btn btn-primary">
                                        Delete
                                    </a>
                                </td>

                            </tr>

                        </tbody>
                        {{/each}}
                    </table> <!-- table-responsive.// -->
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
        <div class="pagination-area mt-15 mb-50">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-start">
                    {{#each pages}}
                             <li class="page-item active"><a class="page-link" href="?page={{this}}">{{this}}</a></li>
                    {{/each}}
                </ul>
            </nav>
        </div>
    </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>
                    document.write(new Date().getFullYear())
                    </script> ©, MobileBazaar .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>

    <script>
////////////delete Coupon
        $(document).ready(function () {
        $(document).on('click','#deletecoupon',function(e){
            e.preventDefault();
            var id = $(this).data('coupon-id');
            var $this = $(this);

            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#088178",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'DELETE',
                        url: '/admin/delete_coupon',
                        contentType: 'application/json',
                        data: JSON.stringify({ id: id }),
                        success: function (productData) {                         
                            $this.closest('tr').remove(); // Use $this instead of $(this)                               
                        },
                        error: function (xhr, status, error) {
                            console.error("Error removing product from wishlist:", error);
                            swal("Error", "Something went wrong. Please try again later.", "error");
                        }
                    });
                    Swal.fire({
                        title: "Deleted!",
                        text: "Coupon Deleted Succesfully!",
                        icon: "success"
                    }).then(()=> window.location.reload());
                }
            });


        });
    });





</script>