

<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Account
                <span></span> Edit Profile
            </div>
        </div>
    </div>
    <section class="pt-50 pb-150">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 m-auto">
                    <div class="row">
                       {{> profileHeader}}
                        <div class="col-md-9">
                            <div class="tab-content dashboard-content">


                                {{!-- <div class="tab-pane fade" id="track-orders" role="tabpanel"
                                    aria-labelledby="track-orders-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Orders tracking</h5>
                                        </div>
                                        <div class="card-body contact-from-area">
                                            <p>To track your order please enter your OrderID in the box below and press
                                                "Track" button. This was given to you on your receipt and in the
                                                confirmation email you should have received.</p>
                                            <div class="row">
                                                <div class="col-lg-8">
                                                    <form class="contact-form-style mt-30 mb-50" action="#"
                                                        method="post">
                                                        <div class="input-style mb-20">
                                                            <label>Order ID</label>
                                                            <input name="order-id"
                                                                placeholder="Found in your order confirmation email"
                                                                type="text" class="square">
                                                        </div>
                                                        <div class="input-style mb-20">
                                                            <label>Billing email</label>
                                                            <input name="billing-email"
                                                                placeholder="Email you used during checkout"
                                                                type="email" class="square">
                                                        </div>
                                                        <button class="submit submit-auto-width"
                                                            type="submit">Track</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card mb-3 mb-lg-0">
                                                <div class="card-header">
                                                    <h5 class="mb-0">Billing Address</h5>
                                                </div>
                                                <div class="card-body">
                                                    <address>3522 Interstate<br> 75 Business Spur,<br> Sault Ste.
                                                        <br>Marie, MI 49783</address>
                                                    <p>New York</p>
                                                    <a href="#" class="btn-small">Edit</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="mb-0">Shipping Address</h5>
                                                </div>
                                                <div class="card-body">
                                                    <address>4299 Express Lane<br>
                                                        Sarasota, <br>FL 34249 USA <br>Phone: 1.941.227.4444</address>
                                                    <p>Sarasota</p>
                                                    <a href="#" class="btn-small">Edit</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> --}}
                                <div class="tab-pane fade active show" id="account-detail" role="tabpanel"
                                    aria-labelledby="account-detail-tab">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Edit Profile</h5>
                                        </div>
                                        <div class="card-body">
                                            
                                             <form method="post" action="/edit_profile/{{userData._id}}"  enctype="multipart/form-data">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row gx-3">
                                            <div class="col-12 mb-3">
                                                <label class="form-label">Name</label>
                                                <input class="form-control" type="text" placeholder="Enter your name"
                                                    value="{{userData.name}}" name="name" id="name"
                                                    onchange="validateusername()">
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label class="form-label">Email</label>
                                                <input class="form-control" type="email" placeholder="Enter your email"
                                                    value="{{userData.email}}" name="email" id="email"
                                                    onchange="validate_email()" disabled>
                                            </div>
                                            <div class="col-lg-12 mb-3">
                                                <label class="form-label">Phone</label>
                                                <input class="form-control" type="tel"
                                                    placeholder="Enter your phone number" value="{{userData.mobile}}"
                                                    name="mobile" id="phone" onchange="validatePhoneNumber()">
                                            </div>
                                            <button class="btn btn-primary" type="submit" style="width: 200px;">Save Changes</button>
                                            <!-- col .// -->
                                            {{!-- <div class="col-lg-6  mb-3">
                                                <label class="form-label">Birthday</label>
                                                <input class="form-control" type="date">
                                            </div> <!-- col .// --> --}}
                                        </div> <!-- row.// -->
                                    </div> <!-- col.// -->
                                    
                                    <aside class="col-lg-4">
                                        <figure class="text-lg-center">
                                            <label for="fileInput">
                                                <img class="img-lg mb-3 img-avatar"  src="/images/users/{{userData.image.[0]}}" alt="user image"  onerror="src='/images/users/UserImage.png'"
                                                    alt="User Photo" id="userPhoto" style="margin-top: -20px; display: block; margin-left: auto; margin-right: auto;">
                                                <input type="file" id="fileInput"
                                                    class="img-lg mb-3 img-avatar visually-hidden" accept="image/*"
                                                    onchange="previewImage(this)" name="image">
                                                {{!-- <figcaption>
                                                    <a class="btn btn-light rounded font-md" href="#"
                                                        onclick="document.getElementById('fileInput').click(); return false;">
                                                        <i class="icons material-icons md-backup font-md"></i> Upload
                                                    </a>
                                                </figcaption> --}}
                                            </label>
                                        </figure>
                                    </aside> <!-- col.// -->




                                </div> <!-- row.// -->
                                
                                
                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>





<script>
    function previewImage(input) {
        if (input.files && input.files[0]) {
            const reader = new FileReader();

            reader.onload = function (e) {
                document.getElementById('userPhoto').src = e.target.result;
            }

            reader.readAsDataURL(input.files[0]); // Read the image as a data URL.
        }
    }


    function validateusername() {
        var username = document.getElementById('name').value;

        var userPattern = /^[a-zA-Z0-9]{3,}$/;

        if (!userPattern.test(username)) {
            alert("Invalid username please try again.");

            document.getElementById('name').value = '';

            document.getElementById('name').focus();
            return false;
        }

        return true;
    }



    function validate_email() {
        var email = document.getElementById('email').value;

        var emailPattern = /^\S+@\S+\.\S+$/;

        if (!emailPattern.test(email)) {
            alert("Invalid email please try again.");

            document.getElementById('email').value = '';

            document.getElementById('email').focus();
            return false;
        }

        return true;
    }


    function validatePhoneNumber() {
        var phoneNumber = document.getElementById('phone').value;

        var phonePattern = /^\d{10}$/;

        if (!phonePattern.test(phoneNumber)) {
            alert('Invalid phone number! Please enter a 10-digit number.');

            // Clear the input field
            document.getElementById('phone').value = '';

            // Focus on the input field for correction
            document.getElementById('phone').focus();
            return false;
        }

        return true; // Allow form submission
    }
</script>