<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="/" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> {{product.name}}
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-detail accordion-detail">
                        <div class="row mb-50">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                    <!-- MAIN SLIDES -->
                                    <div class="product-image-slider">
                                        {{#each product.imageUrl}}
                                        <figure class="border-radius-10">
                                            <img src="/assets/imgs/products/{{this}}" alt="product image">
                                        </figure>
                                        {{/each}}                                        
                                    </div>
                                    <!-- THUMBNAILS -->
                                    <div class="slider-nav-thumbnails pl-15 pr-15">
                                        {{#each product.imageUrl}}
                                        <div> <img src="/assets/imgs/products/{{this}}" alt="product image"></div>
                                        {{/each}}                                        
                                    </div>
                                </div>
                                <!-- End Gallery -->
                            </div>
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <div class="detail-info">
                                    <h2 class="title-detail">{{product.name}}</h2>
                                     {{!-- <input name="product_name" value="{{product.name}}" type="hidden">                                     --}}
   <div class="clearfix product-price-cover">
  <div class="product-price primary-color float-left">
    {{#if product.productOffer}} <!-- Check if productOffer exists -->
      {{#if product.productOffer.discountPrice}} <!-- Check if discountPrice exists -->
        <div class="product-price">
          <span class="text-brand">₹{{product.productOffer.discountPrice}}</span>
          <ins><span class="old-price font-md ml-15">₹{{product.price}}</span></ins>
          <span class="save-price font-md color3 ml-15">{{product.productOffer.productOfferPercentage}}% Off</span>
        </div>
      {{else}} <!-- If discountPrice does not exist -->
        <div class="product-price">
          <span class="text-brand">₹{{product.price}}</span>
        </div>
      {{/if}}
    {{else}} <!-- If productOffer does not exist -->
      <div class="product-price">
        <span class="text-brand">₹{{product.price}}</span>
      </div>
    {{/if}}
  </div>
</div>

                                    <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                    <div class="short-desc mb-30">
                                        <p>{{product.description}}</p>
                                    </div>
                                    <div class="product_sort_info font-xs mb-30">
                                        <ul>
                                            <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year Brand Warranty</li>
                                            <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> Return, If any damages</li>
                                            <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                        </ul>
                                    </div>
                                    <div class="detail-extralink">
                                        {{!-- <div class="border radius ">
                                            <input class="order__quantity--input" type="number" placeholder="1"
                                                name="quantity" value="1">
                                        </div> --}}
                                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                    
                                    <div class="product-extra-link2">

                                            {{#if outOfStock}}
                                            <span id="outofstock">
                                                <button id="outofstock-btn" class="btn btn-md "
                                                    style="background-color: #dc3545;">Out of stock</button>
                                            </span>
                                            {{else}}
                                            {{#if productExistInCart}}
                                            <span id="gocart">
                                                <button id="addcart-btn" onclick="window.location.href='/cart'"
                                                    class="btn btn-md">Go to Cart</button>
                                            </span>
                                            {{else}}
                                            <span id="addcart">
                                                <button id="addcart-btn" data-product-id="{{product._id}}"
                                                    class="button button-add-to-cart">Add to Cart</button>
                                            </span>
                                            {{/if}}
                                        
                                            {{!-- <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>    --}}
                                            {{#if productExistInWishlist}}
                                            <span id="wishlist">
                                                <button id="addwishlist-btn" onclick="window.location.href='/wishlist'" class="button button-add-to-wishlist">Go to Wishlist</button>
                                            </span>
                                            {{else}}
                                            <span id="wishlist">
                                                <button id="addwishlist-btn" data-product-id="{{product._id}}" class="button button-add-to-wishlist">Add to Wishlist</button>
                                            </span>
                                            {{/if}}
                                            {{/if}}
                                        </div>
                                    <ul class="product-meta font-xs color-grey mt-50">
                                        <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                        <li class="mb-5">Tags: 
                                            <a href="#" rel="tag">IPhone</a>, 
                                            <a href="#"rel="tag">Mobile</a>, 
                                            <a href="#" rel="tag">Android</a> 
                                        </li>
                                        {{#if product.stock}}       
                                        <li>Availability: <span class="in-stock text-success ml-5 " style="font-weight: bold !important; font-size: 15px;">{{product.stock}} Items In Stock</span></li>
						                {{else}}
                                        <li>Availability:<span class="in-stock text-danger ml-5">Out of Stock</span></li>
                                        {{/if}}
                                    </ul>
                                </div>                                
                            </div>
                        </div>                   
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script>
    $(document).ready(function () {
        $('.button.button-add-to-cart').on('click', function (e) {

            var prodId = $(this).data('product-id');
            //Suppose Need Input Field before Add to Cart Button in the product detail Page Use this
            //var quantity = $('.order__quantity--input').length ? $('.order__quantity--input').val() : 1;
            var quantity = 1;

            $.ajax({
                url: '/addtocart/' + prodId,

                method: 'POST',
                // contentType: 'application/json',
                data: { prodId: prodId, quantity: quantity },
                success: function (result) {
                    if (result.success) {

                        Swal.fire({
                            icon: 'success',
                            title: 'Added to cart',
                            text: result.message,
                            showConfirmButton: false,
                            timer: 1500
                        })
                        $('#addcart').html('<button id="addcart-btn" onclick="window.location.href=\'/cart\'" class="button button-add-to-cart">Go to cart</button>');


                    } else {
                        if (result.message) {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: result.message,

                            })
                        } else {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Login Required',
                                showCancelButton: true,
                                confirmButtonText: 'Login',


                                confirmButtonColor: "#088178",
                                cancelButtonColor: "#d33",
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = '/login';
                                }
                            })
                        }

                    }
                },
                error: function (error) {
                    console.log('Error adding to cart', error)
                }
            })
        })
    })


    $(document).ready(function () {
    const userId = ""; 

    // Add to Wishlist
    $('#addwishlist-btn').on('click', function (e) {
        e.preventDefault();
        
        const prodId = $(this).data('product-id');

        $.ajax({
            type: 'POST',
            url: '/addtowishlist',
            contentType: 'application/json',
            data: JSON.stringify({ id: prodId, userId: userId }),
            success: function (response) {
                Swal.fire({
                    title: 'Success!',
                    text: 'Product added to your Wishlist.',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 1500
                });
                $('#wishlist').html('<button id="wishlist-btn" onclick="window.location.href=\'/wishlist\'" class="button button-add-to-wishlist">Go to Wishlist</button>');
            },
            error: function (xhr, status, error) {
                Swal.fire({
                    title: 'Error!',
                    text: 'Failed to add product to Wishlist.',
                    icon: 'error',
                    confirmButtonText: 'Try Again'
                });
                console.error(error);
            }
        });
    });
});

</script>